version: "3.9"

services:
  # -----------------------
  #  Flask + Gunicorn (App1)
  # -----------------------
  ocr_app1:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: ocr_project-ocr_app:latest
    container_name: ocr_app1
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/static/uploads:/app/static/uploads
    restart: always
    networks:
      - ocr_net

  # -----------------------
  #  Flask + Gunicorn (App2)
  # -----------------------
  ocr_app2:
    image: ocr_project-ocr_app:latest
    container_name: ocr_app2
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/static/uploads:/app/static/uploads
    restart: always
    networks:
      - ocr_net

  # -----------------------
  #  Flask + Gunicorn (App3)
  # -----------------------
  ocr_app3:
    image: ocr_project-ocr_app:latest
    container_name: ocr_app3
    ports:
      - "5002:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/static/uploads:/app/static/uploads
    restart: always
    networks:
      - ocr_net

  # -----------------------
  #  Nginx (Load Balancer)
  # -----------------------
  nginx:
    image: nginx:latest
    container_name: ocr_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro   # 인증서 공유
    depends_on:
      - ocr_app1
      - ocr_app2
      - ocr_app3
    restart: always
    networks:
      - ocr_net

# -----------------------
# Network Definition
# -----------------------
networks:
  ocr_net:
    driver: bridge
