numpy==1.26.4
gunicorn==23.0.0
python-dotenv==1.0.1
pillow
opencv-python-headless
flask
pymysql
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
easyocr==1.7.2
googletrans==4.0.0-rc1
werkzeug
